* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  text-decoration: none;
}

body {
  background: #0c1d37;
  color: #ffffff;
  width: 119rem;
}

a,
p,
h1,
h2,
span {
  font-family: "Roboto";
  font-style: normal;
  color: #d3d3d3;
  line-height: 130.19%;
}

h2 {
  font-weight: bold;
  font-size: 4rem;
  color: #f9f7f7;
  text-align: center;
}
/* header */

header {
  font-family: "Montserrat";
  font-style: normal;
  font-weight: 300;
  font-size: 1.5rem;
  line-height: 1.8125rem;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-around;
  border-bottom: 0.0625rem solid #2d4174;
  width: 87.25rem;
  margin-left: 16.375rem;
}

.section3,
.section4,
.section5,
.minisec {
  padding-top: 4rem;
}

/* section 1 */

.section1 {
  width: 119rem;
  height: 64.25rem;
  background: url(/img/81ded9cceb38ed3d73dfb9cbbabec2d1\ 2.png);
}

.light {
  width: 110.8125rem;
  height: 71.625rem;
  background: radial-gradient(
    50% 50% at 50% 50%,
    rgba(92, 103, 171, 0.21) 60.76%,
    rgba(111, 121, 182, 0) 100%
  );
  border-radius: 20.875rem;
  position: absolute;
  margin-top: -48.6875rem;
  z-index: -1;
}

.apart {
  z-index: 1;
  margin-left: 8.9375rem;
  margin-top: 9.1875rem;
}

.text {
  display: flex;
  margin-top: -33.1875rem;
  margin-left: 41.0625rem;
  flex-direction: column;
  align-items: center;
}

.section1 .JK {
  font-weight: bold;
  font-size: 2.5rem;
}

.section1 .name {
  margin: -0.625rem;
  font-style: Bold;
  font-weight: bold;
  font-size: 5.125rem;
  background: linear-gradient(
    102.91deg,
    #ffffff 47.24%,
    rgba(0, 0, 0, 0) 121.5%
  );
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  background-clip: text;
}

.section1 .texti {
  margin-top: 1.0625rem;
  font-weight: 600;
  font-size: 2.25rem;
  text-align: center;
}

.section1 .btn {
  width: 25.6875rem;
  height: 4.5625rem;
  background: #ffffff;
  box-shadow: inset 0px 4px 102px rgba(8, 29, 136, 0.25);
  border-radius: 40px;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 3.75rem;
  cursor: pointer;
  transition: 0.5s;
}

.section1 .btn:hover {
  transition: 0.5s;
  background: #cfcece;
}

.section1 .btn a {
  font-family: "Montserrat";
  font-weight: bold;
  font-size: 24px;
  line-height: 130.19%;
  text-align: center;
  color: #000000;
}

/* Section 2 */

.section2 {
  height: 55.5625rem;
  background: url(/img/section_2/sec2back.png);
}

.section2 h2 {
  padding-top: 3.5rem;
  padding-left: 4rem;
}

.elem {
  display: grid;
  padding-top: 4.1875rem;
  grid-column-end: 3;
  grid-template-columns: 76.875rem 37.5rem;
}

.img_elem {
  margin-top: 5.25rem;
  margin-left: 20.25rem;
  display: grid;
  grid-template-columns: 35.0625rem 35.5rem 30.75rem;
  row-gap: 9.375rem;
  width: 20rem;
}

.imgItem_2 {
  margin-left: 0.5rem;
}

.center {
  width: 47rem;
  height: 30rem;
}

/* .img_elem:last-child{
  grid-template-columns: 0px;
} */

.text_elem span {
  font-weight: bold;
  font-size: 1.5rem;
  color: #ffffff;
}
.text_elem p {
  font-weight: 400;
  font-size: 1.5rem;
  color: #a8a2a2;
}

.text_elem {
  margin-top: 8.4375rem;
  margin-left: 9.7rem;
  position: absolute;
  display: grid;
  grid-template-columns: 29.0625rem 42.0625rem 25.8125rem;
  row-gap: 10.9375rem;
}

.textItem {
  text-align: center;
}

.background_picture {
  background: url(/img/81ded9cceb38ed3d73dfb9cbbabec2d1\ 1.png);
  width: 119rem;
  height: 180rem;
}

.slider {
  margin-top: 1.875rem;
  display: flex;
  justify-content: space-around;
}

.arrow_left,
.arrow_right {
  cursor: pointer;
}

.arrow_left,
.arrow_right {
  position: absolute;
  width: 3rem;
  height: 3rem;
}

.arrow_right {
  margin-top: 14rem;
  margin-left: 92rem;
}

.arrow_left {
  margin-top: 14rem;
  margin-right: 92rem;
}

.section3 .left,
.section3 .right {
  margin-top: 4rem;
  width: 9rem;
  height: 23rem;
}

.section3 .prog {
  width: 44rem;
  height: 1.8125rem;
  background: #d0cce2;
  border-radius: 2.1875rem;
  margin-left: 37rem;
  margin-top: 2rem;
}

.section3 .conteiner {
  display: flex;
  justify-content: center;
  margin-top: 22.5rem;
}

/* section 4 */

.section4 .navbar {
  display: flex;
  text-align: center;
  justify-content: center;
  padding-top: 3.75rem;
}

.section4 .nav_effect {
  display: flex;
  text-align: center;
  justify-content: center;
  align-items: center;
  width: 17.3rem;
  height: 6rem;
  background: #d0cce3;
  border: 0.0625rem #d0cce3 solid;
  transition: 1.5s;
}

.section4 .nav_effect p {
  font-weight: 400;
  font-size: 1.8rem;
  color: black;
  cursor: pointer;
}

.section4 .nav_effect:first-child {
  border-radius: 6.3125rem 0 0 6.3125rem;
}

.section4 .nav_effect:last-child {
  border-radius: 0 6.3125rem 6.3125rem 0;
}

.section4 .nav_effect:hover {
  transition: 1.5s;
  background: #6e7ab4;
  border: 0.0625rem #6e7ab4 solid;
}

.section4 .nav_effect:hover p {
  transition: 1.5s;
  color: white;
}

.nav_effect.active {
  background: #6e7ab4;
  border: 0.0625rem #6e7ab4 solid;
}

.nav_effect.active p {
  color: white;
}

.tab_item.active {
  display: block;
  transition: 2s;
}

.tab_item {
  display: none;
  transition: 2s;
}

.section4 .conetent_tab {
  padding-top: 3.75rem;
  display: flex;
  justify-content: center;
  gap: 4.375rem;
  transition: 2s;
}

.section4 .contbox {
  gap: 1.875rem;
  width: 23.5625rem;
  height: 38.5rem;
  background: #ffffff;
  border-radius: 3.5rem;
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
}

.section4 .contbox img {
  width: 23.5625rem;
}

.section4 .contbox h3 {
  font-weight: 600;
  font-size: 2rem;

  color: black;
}

.section4 .contbox p {
  color: black;
  font-weight: 400;
  font-size: 1.5rem;
}

/* section 5 */

 .navbar {
  display: flex;
  text-align: center;
  justify-content: center;
  padding-top: 1.8rem;
}

 .nav_effecti {
  display: flex;
  text-align: center;
  justify-content: center;
  align-items: center;
  width: 21.25rem;
  height: 6.7rem;
  background: #d0cce3;
  cursor: pointer;
}

 .nav_effecti p {
  font-weight: 400;
  font-size: 2rem;
  color: black;
  cursor: pointer;
}

 .nav_effecti:first-child {
  border-radius: 6.3125rem 0 0 6.3125rem;
}

 .nav_effecti:last-child {
  border-radius: 0 6.3125rem 6.3125rem 0;
}

 .nav_effecti:hover {
  transition: 1.5s;
  background: #6e7ab4;
}

 .nav_effecti:hover p {
  transition: 1.5s;
  color: white;
}

.content{
  display: none;
}

.content.activ{
  width: 69.9375rem;
  height: 35.5rem;
  background: #ffffff;
  border-radius: 3.5rem;
  display: flex;
  justify-content: center;
  align-items: center;
}

.content.activ img{
  width: 1rem;
  height: 1rem;
  width: 40rem;
  height: 33rem;
}

.nav_effecti.activ {
  background: #6e7ab4;
  border: 0.0625rem #6e7ab4 solid;
}

.nav_effecti.activ p {
  color: white;
}

.arrow_left1,
.arrow_right1 {
  width: 7.75rem;
  height: 7.75rem;
}


.section5 .conteyner {
  margin-top: 2.5rem;
  display: flex;
  justify-content: center;
  align-items: center;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 3.125rem;
}

/* section 6 */

.obyed {
  padding-top: 9.375rem;
  display: flex;
  justify-content: space-around;
}

.section6 {
  width: 119rem;
  height: 55.5625rem;
  background: url(/img/Group\ 22.png);
}

.section6 h4 {
  font-weight: 600;
  font-size: 4rem;
  color: #ffffff;
}

.section6 p {
  font-weight: 400;
  font-size: 2rem;
  color: #ffffff;
}

.section6 .line {
  width: 3rem;
  height: 0px;
  border: 0.5rem solid #6779d1;
  margin: 0.9375rem;
}

.lineandp {
  display: flex;
}
.form {
  width: 31.125rem;
  height: 38.5rem;
  background: #ffffff;
  border-radius: 2.5rem;
}

.form h5,
.form p {
  color: black;
}

.form h5 {
  font-weight: 600;
  font-size: 2.25rem;
}

.form p {
  font-weight: 300;
  font-size: 1.875rem;
}

form {
  margin-top: 3.125rem;
}

.content_form {
  margin-top: 3.125rem;
  display: flex;
  align-items: center;
  flex-direction: column;
}

#name {
  padding-left: 1.875rem;
  width: 26.5625rem;
  height: 5.3125rem;
  background: rgba(128, 120, 120, 0.23);
  border-radius: 2.625rem;
  border: none;
}

#number {
  margin-top: 1.875rem;
  padding-left: 1.875rem;
  width: 26.5625rem;
  height: 5.3125rem;
  background: rgba(128, 120, 120, 0.23);
  border-radius: 2.625rem;
  border: none;
}

#btn {
  background: #7788dd;
  margin-top: 5rem;
  width: 25.6088rem;
  height: 4.5625rem;
  box-shadow: inset 0px 0.25rem 6.375rem rgba(8, 29, 136, 0.25);
  border-radius: 2.5rem;
  border: none;
  font-family: "Montserrat";
  font-style: normal;
  font-weight: 700;
  font-size: 1.5rem;

  color: #ffffff;
}

@media screen and (max-width: 320px) {
  body {
    width: 320px;
  }

  .section3,
  .section4,
  .section5,
  .minisec {
    padding-top: 1rem;
  }

  h2 {
    font-weight: bold;
    font-size: 1.5rem;
    color: #f9f7f7;
    text-align: center;
  }

  /* header */

  header {
    margin-left: 1rem;
    font-style: normal;
    font-weight: 300;
    font-size: 0.875rem;
    line-height: 1.0625rem;
    border-bottom: 0.0625rem solid #2d4174;
    width: 17.25rem;
  }

  .logo {
    width: 89px;
    height: 47px;
  }

  .addres {
    display: none;
  }

  .apart {
    display: none;
  }

  .section1 {
    width: 20rem;
    height: 21.9375rem;
    background: none;
    background: url(/mobile/81ded9cceb38ed3d73dfb9cbbabec2d1\ 3.png);
  }

  .light {
    width: 16.6419rem;
    height: 13.625rem;
    border-radius: 20.875rem;
    position: absolute;
    z-index: -1;
    margin-top: -16rem;
    margin-left: 1.5rem;
  }

  .text {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-left: 1rem;
    margin-top: 3rem;
  }

  .section1 .JK {
    font-weight: 500;
    font-size: 1rem;
  }

  .section1 .name {
    margin: -0.625rem;
    font-size: 3rem;
  }

  .section1 .texti {
    font-size: 0.9rem;
  }

  .section1 .btn {
    margin-top: 2.8rem;
    width: 13rem;
    height: 2.3125rem;
    box-shadow: inset 0px 4px 102px rgba(8, 29, 136, 0.25);
    border-radius: 40px;
  }

  .section1 .btn a {
    font-weight: 700;
    font-size: 0.9375rem;
  }

  .section2 {
    display: none;
  }

  .background_picture {
    width: 320px;
    background: no-repeat url(/mobile/newback.png);
    height: 1950px;
  }

  .section3 .left,
  .section3 .right {
    display: none;
  }

  .center {
    width: 16.4375rem;
    height: 11rem;
  }

  .arrow_left,
  .arrow_right {
    margin-top: 4rem;
    width: 2.5rem;
    height: 2.5rem;
  }

  .section3 {
    padding-top: 1rem;
    width: 320px;
  }

  .prog {
    display: none;
  }

  .arrow_right {
    margin-left: 16.5rem;
  }

  .arrow_left {
    margin-right: 16.5rem;
  }

  .section4 {
    margin-top: 1rem;
  }

  .section4 .nav_effect {
    width: 18.9375rem;
    height: 3.8125rem;
  }

  .section4 .nav_effect p {
    font-weight: 400;
    font-size: 10px;
  }

  .contbox.sbox1 {
    width: 214px;
    height: 342px;
    border-radius: 1.9rem;
    margin-top: -2.5rem;
  }

  .section4 .contbox img{
    width: 13.4375rem;
    height: 174px;
  }

  .conetent_tab {
    flex-direction: column;
    align-items: center;
    padding-top: 4.5rem;
    transition: 2s;
  }

  .section4 .contbox h3 {
    font-weight: 600;
    font-size: 20px;
  }

  .section4 .contbox p {
    width: 189px;
    height: 105px;
    font-weight: 400;
    font-size: 13px;
    margin-top: -1rem;
  }

  .section4 .navbar {
    padding-top: 1.8rem;
  }

  .section5 .content {
    width: 289px;
    height: 175px;
    border-radius: 22px;
  }

  .section5 .content img {
    width: 138px;
    height: 120px;
  }

  .section5 .nav_effecti p {
    font-weight: 400;
    font-size: 12px;
    color: black;
    cursor: pointer;
  }

  .section5 .nav_effecti {
    width: 101px;
    height: 66px;
  }

  .section6 {
    background: #000000;
    width: 320px;
    height: 428px;
  }

  .section6 .conteyner {
    display: none;
  }

  .form {
    border-radius: 34px;
    width: 277px;
    height: 335px;
    margin-top: 1.125rem;
  }

  .form h5 {
    font-weight: 600;
    font-size: 24px;
  }

  .form p {
    font-weight: 300;
    font-size: 16px;
  }

  #name,
  #number {
    width: 240px;
    height: 43px;
  }

  #btn {
    width: 248px;
    height: 44.18px;
    margin-top: 2.375rem;
  }

  .content_form {
    margin-top: 1.125rem;
  }

  .obyed {
    padding-top: 1.375rem;
  }
}
